@import "../css-config/mixins.scss";

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  position: relative;
  @include md {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
  }
  .card-box {
    width: 280px;
    height: 350px;
    background: #373737;
    outline: 3px dotted white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: justify;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    @include md {
      width: 18rem;
      height: 20rem;
      margin-top: 20px;
      border-radius: 10px;
    }
    .heading {
      top: 5px;
      margin-bottom: 10px;
      h3 {
        color: rgb(213 228 14);
        font-size: 1.5rem;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
    strong {
      position: relative;
      color: #de003a;
    }
    a {
      color: dodgerblue;
      font-weight: 600;
    }
    button {
      background-color: dodgerblue;
      color: white;
      padding: 6px 10px;
      border-radius: 5px;
      font-weight: 600;
      border: none;
      cursor: pointer;
    }
  }
  .buttons {
    margin: 1rem;
    @include md {
      width: calc(100% - 70px);
      display: flex;
      align-items: center;
      justify-content: left;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      color: black;
      padding: 6px 10px;
      border: 5px;
      outline: none;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.card-container .light-c {
  background: #ebebeb;
  color: black;
  .heading {
    h3 {
      color: rgb(76 46 1);
    }
  }
}
